@import url('http://fonts.cdnfonts.com/css/valorant');

* {
    font-family: 'VALORANT';
}

body {
    margin: 0;
}

p {
    font-size: 0.65em;
    z-index: 2;
}

.DivSupremeContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url('../../assets/valorant-background.jpg') center no-repeat
}

.DivContainerCharacter {
    display: flex;
    height: 100%;
    background-color: #e8404edc;
    justify-content: center;
    align-items: flex-start;
}

.DivContainer {
    width: 70%;
    overflow-y: hidden;
    margin: 5% 0;
    display: flex;
}

::-webkit-scrollbar {
    height: 10px;
  }

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.H1Style {
    margin: 15.25% 0px;
    transform: rotate(90deg);
    text-align: center;
    font-size: 130px;
}

.DivCards {
    width: 15%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: 3% 9% 1%;
    background-color: #1f2326;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px 0 0 0;
    border: none;
}

.DivAbilities {
    background: #39353F;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 20%;
    left: 15%;
    position: relative;
    bottom: 2%;
    border: 2px solid white;
    padding: 10px;
}

.DivCards > header {
    transform: rotate(90deg);
    position: relative;
    top: 90%;
    right: 50%;
}


.H3Styles {
    color: white;
    text-shadow: 5px 5px 1px #ff4656;
    transition: all 0.3s ease-in-out;
}

.DivCards > img {
    position: relative;
    top: 16%;
    left: 20%;
    height: 120%;
    object-fit: cover;
    transform: translate(0);
    transition: all 1s ease;
}

.DivCards:hover .ImgCharacter {
    transform: translate(20px);
}

.DivCards:hover {
    background: white;
}

.DivCards:hover header > h3 {
    color: black;
    text-shadow: none;
}

.ImgAbilities {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.SupremeContainerAbs {
    display: flex;
    position: absolute;
    bottom: 2%;
    width: 100%;
    align-items: center;
    left: 0;
    pointer-events: none;
}

.ContainerAbs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.ContentAbs {
    margin: 0px 30px 0px 30px;
    background: white;
    border: 1px solid black;
    border-radius: 20px 0 0 0;
    padding: 15px;
    overflow: hidden;
    min-width: min-content;
    height: -moz-fit-content;
    height: fit-content;
}

.ContentImg {
    display: flex;
}

.StyleImg {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-around;
}

.StyleImg::after {
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    background: #ff4656;
    margin-left: -60%;
    position: absolute;
    top: 15%;
    z-index: -1;

}

.StyleImg > img {
    filter: invert(1);
    color: white;
}